@import "../other/mixins";
@import "../other/variables";

.example {
  .container {
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 115px;

      .item:nth-child(2) {
        img {
          position: relative;
          right: 25%;
          margin-right: -90px;
        }
      }

      .item:nth-child(3n-1) {
        margin-right: 45px;
        margin-left: 45px;
        display: flex;
        flex-direction: column-reverse;

        .about {
          h2 {
            margin-top: 60px;
            margin-bottom: 20px;
          }
        }
      }

      .item {
        width: 360px;

        p {
          margin-top: 20px;
          margin-bottom: 60px;
          color: $color_regular;
        }

        .img {
          width: 360px;
          height: 360px;
          overflow: hidden;

          img {
            height: 360px;
          }
        }
      }
    }
  }
}