@import "../other/mixins";
@import "../other/variables";

.work {
  position: relative;

  .container {
    .topwork {
      .title {
        margin-bottom: 55px;

        .description {
          width: 585px;
          margin-top: 30px;
        }
      }

      .gallery {
        display: flex;
        flex-wrap: wrap;

        .image {
          position: relative;
          transition: 0.5s;
          height: 270px;

          img {
            width: 370px;
            height: 270px;
            overflow: hidden;
          }

          margin-left: 30px;
          margin-bottom: 30px;
        }

        .image:hover {
          .bg {
            background-color: rgba(0, 0, 0, .5);
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
          }
        }

        .image:nth-child(5n+1) {
          img {
            width: 770px;
            height: 375px;
          }

          height: 375px;
          margin-left: 0;
        }

        .image:nth-child(5n+2) {
          img {
            width: 370px;
            height: 375px;
            overflow: hidden;
          }

          height: 375px;
        }

        .image:nth-child(5n+3) {
          margin-left: 0;
        }
      }
    }

    .clients {
      margin-top: 140px;
      padding-bottom: 90px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      img {
        width: 190px;
      }

      img:not(:first-child) {
        margin-left: 6px;
      }
    }

  }

  hr {
    position: absolute;
    width: 100%;
    bottom: 19.7%;
    left: 0;
    height: 2px;
    background-color: rgba(238, 241, 243, 0.5);
    border: 0;
  }
}